nav[data-toggle="toc"] {
  top: 150px;
}

/* small screens */
@media (max-width: 768px) {

  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }

  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  /*
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  */
}

/* don't wrap inline code */
p code,
table code {
  white-space: nowrap;
}

.right .github-fork-ribbon {
  background-color: #563d7c;
}

.container {
  max-width: 800px;
  padding-top: 90px;
  padding-bottom: 40px;
}

.hint {
  color: #563d7c;
  display: inline-block;
  font-weight: bold;
  left: 20px;
  /* match the left margin of the top-level nav items */
  position: relative;
  top: 0.5em;
}

.hint:before {
  content: '↑';
  display: block;
  font-size: 3em;
  margin-bottom: 5px;
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: center;
}

/* small screens */
@media (max-width: 768px) {
  .hint {
    top: 0;
  }
}

/* large screens */
@media (min-width: 768px) {
  h1:first-child {
    margin-top: 0;
  }
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}